[user]
	name = Nirperm
	email = nirperm@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	precomposeunicode = true
	quotepath = false
	autoCRLF = false
	whitespace = cr-at-eol
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[push]
	default = simple
[alias]
	co = checkout
	st = status
	di = diff
	pl = pull
	ct = commit
  ad = add
  br = branch
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	username = nirperm
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

